$text-color: #999;

div.move_list {
    color: #999;
    clear: both;


    position: relative;
    padding-left: 6px;

    span.move {
        &:not(:last-child) {
            margin-right: 6px;
        }

        text-align: center;
        cursor: pointer;
        white-space: nowrap;
    }

    .current_move {
        border-bottom: 1px solid $text-color;
    }

    .rav {
        margin: 5px 0 0 15px;
        position: relative;

        span:nth-last-child(2) {
            margin-right: 0;
        }
    }
}