.engine_modal {
    width: 80vw;
    border: 2px solid black;

    .one_off_board {
        width: 20vw;
        max-width: 20vw;
        height: 20vw;
        max-height: 20vw;
    }

    ul.notes {
        text-align: left;
        padding-left: 2vw;
    }

    .scroll-vertical {
        width: 70vw;
    }

    .modal-content {
        width: 80vw;

        button.close-modal {
            float: right;
        }

        .table {
            margin-left: auto;
            margin-right: auto;

            .tr {
                &.stats {
                    text-align: left;
                    color: #222;

                    .completed {
                        span {
                            margin-left: 1vw;
                            margin-right: 1vw;
                        }
                    }

                    .in_progress {
                        .tr {
                            .td:nth-child(2) {
                                min-width: 40vw;
                            }
                        }
                    }
                }
            }

            .td {
                vertical-align: middle;
                height: 33px;

                &.onoff {
                    line-height: 0;
                }
            }

            .td:first-child {
                text-align: right;
                padding-right: 6px;
            }
        }
    }
}
