.EditForm form {
    width: 700px;
    padding: 25px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    background: #eeeeee;
}

.EditForm form > input {
    border: none;
    margin: 3px 0;
    width: 685px;
    height: 18px;
    font-size: 18px;
}

.EditForm form > div {
    margin: 15px 0;
}
